:root {
  --color-black-1: #171717;
  --color-black-2: #20262E;
  --color-black-3: #393E46;
  --color-black-3-tr1: #393E46bb;
  --color-black-3-tr2: #393E4688;

  --color-white-1: #DDDDDD;
  --color-white-2: #EEEEEE;
  --color-white-3: #F3F8FF;
  --color-white-3-tr1: #F3F8FFbb;
  --color-white-3-tr2: #F3F8FF88;

  --color-green-1: #1A4D2E;
  --color-green-2: #4E9F3D;
  --color-green-3: #9DDE8B;
  --color-green-4: #E6FF94;

  --color-secondary-11: var(--color-black-1);
  --color-secondary-12: var(--color-black-2);
  --color-secondary-13: var(--color-black-3);
  --color-secondary-13-tr1: var(--color-black-3-tr1);
  --color-secondary-13-tr2: var(--color-black-3-tr2);
  --color-secondary-21: var(--color-white-1);
  --color-secondary-22: var(--color-white-2);
  --color-secondary-23: var(--color-white-3);
  --color-secondary-23-tr1: var(--color-white-3-tr1);
  --color-secondary-23-tr2: var(--color-white-3-tr2);
  --color-primary-1: var(--color-green-1);
  --color-primary-2: var(--color-green-2);
  --color-primary-3: var(--color-green-3);
  --color-primary-4: var(--color-green-4);

  scroll-behavior: smooth;
}
