footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 2rem;
}

footer>.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer>.socials>a {
  padding: .5rem;
}

footer>.socials>a>img {
  width: 32px;
  transition: filter .4s;
}

footer>.socials>a:hover>img {
  filter: drop-shadow(0 0 10px var(--color-primary-4));
}

footer>a {
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: var(--color-secondary-23-tr2);
  font-size: .85rem;
  font-weight: bold;
  transition: color .4s;
}

footer>a:hover {
  color: var(--color-primary-4);
}
