footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
  gap: 2rem;
}

footer>.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer>.socials>a {
  padding: .5rem;
}

footer>.socials>div {
  display: none;
  margin-top: 1rem;
  height: 128px;
  width: 2px;
  background-color: var(--color-secondary-23-tr2);
}

footer>.socials>a>img {
  width: 32px;
  transition: filter .4s;
}

footer>.socials>a:hover>img {
  filter: drop-shadow(0 0 10px var(--color-primary-4));
}

footer>a {
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: var(--color-secondary-23-tr2);
  font-size: .85rem;
  font-weight: bold;
  transition: color .4s;
}

footer>a:hover {
  color: var(--color-primary-4);
}

@media (min-width: 1024px) {
  footer>.socials {
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
  }

  footer>.socials>a>img {
    width: 24px;
  }

  footer>.socials>div {
    display: block;
  }

}
