header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding: 0 1.5rem;
  z-index: 20;
  box-shadow: 0 10px 30px -10px var(--color-secondary-11);
  backdrop-filter: blur(10px);
  transition: top .4s;
}

header>.logo,
header>.humburger {
  z-index: inherit;
}

header>.logo {
  width: 3rem;
  height: 3rem;
}

.logo>img {
  height: 100%;
  transition: .4s filter;
}

.logo>img:hover {
  filter: drop-shadow(0px 0px 20px var(--color-primary-4));
}

nav {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: stretch;
  top: 0;
  right: -100%;
  transition: .4s right;
  height: 100vh;
  width: 100%;
}

nav>ul {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--color-secondary-13);
}

nav.active {
  right: 0;
}

li {
  list-style: none;
  font-family: 'Roboto Mono', monospace;
}

nav>ul>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary-4);
}

nav>ul>li>a {
  color: var(--color-secondary-23);
  text-decoration: none;
  transition: .4s color;
}

nav>ul>li>a:hover {
  color: var(--color-primary-4);
}

nav>ul>li:last-child>a {
  display: block;
  text-decoration: none;
  color: var(--color-primary-4);
  border: 1px solid var(--color-primary-4);
  padding: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 0 0 var(--color-primary-4);
  transition: transform .4s, box-shadow .4s;
}

nav>ul>li:last-child>a:hover {
  outline: none;
  box-shadow: 3px 3px 0 0 var(--color-primary-4);
  text-shadow: none;
  transform: translate(-3px, -3px);
}

@media (min-width: 768px) {
  nav {
    position: static;
    display: flex;
    height: max-content;
    width: max-content;
    font-size: .9rem;
  }

  nav>ul {
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    background-color: transparent;
  }

  nav>ul>li {
    flex-direction: row;
    gap: .5rem;
  }

  nav>ul>li:last-child>a {
    padding: .75rem 2rem;
  }
}
