.humburger {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: inherit;
}

.humburger-line {
  position: absolute;
  top: 50%;
  right: 0;
  width: 25px;
  height: 3px;
  background-color: var(--color-primary-4);
  transition: .2s background-color;
}

.humburger-line::before {
  content: '';
  position: absolute;
  top: -8px;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-4);
  transition: transform .1s .1s, top .1s;
}

.humburger-line::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-4);
  transition: transform .1s .1s, top .1s;
}

.humburger.active .humburger-line {
  background-color: transparent;
}

.humburger.active .humburger-line::before {
  top: 0;
  transform: rotate(45deg);
}

.humburger.active .humburger-line::after {
  top: 0;
  transform: rotate(-45deg);
}
