/* Roboto Mono Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}
