footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 2rem;
}

footer>.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer>.socials>a {
  padding: .5rem;
}

footer>.socials>a>svg {
  width: 32px;
}

footer>.socials>a>svg.github-svg,
footer>.socials>a>svg.linkedin-svg {
  stroke: var(--color-secondary-23-tr2);
  transition: stroke .4s, filter .4s;
}

footer>.socials>a:hover>svg.github-svg,
footer>.socials>a:hover>svg.linkedin-svg {
  stroke: var(--color-primary-4);
  filter: drop-shadow(0 0 20px var(--color-primary-4));
}

footer>.socials>a>svg.leetcode-svg {
  fill: var(--color-secondary-23-tr2);
  transition: fill .4s, filter .4s;
}

footer>.socials>a:hover>svg.leetcode-svg {
  fill: var(--color-primary-4);
  filter: drop-shadow(0 0 20px var(--color-primary-4));
}

footer>a {
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: var(--color-secondary-23-tr2);
  font-size: .85rem;
  font-weight: bold;
  transition: color .4s;
}

footer>a:hover {
  color: var(--color-primary-4);
}
