footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 2rem;
}

footer>.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer>.socials>a {
  padding: .5rem;
}

footer>.socials>a>svg {
  width: 32px;
  opacity: 0.5;
}

footer>.socials>a>svg.github-svg,
footer>.socials>a>svg.linkedin-svg {
  stroke: var(--color-secondary-23);
}

footer>.socials>a>svg.leetcode-svg {
  fill: var(--color-secondary-23);
}

footer>p {
  text-align: center;
  color: var(--color-secondary-23);
  opacity: 0.5;
  font-size: .85rem;
  font-weight: bold;
}
