/* CSS Files */
@import "./typography.css";
@import "./colors.css";
@import "./header.css";
@import "./humberger.css";
@import "./home.css";
@import "./about.css";
@import "./projects.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-1);
}

main {
  padding-inline: 1.25rem;
  transition: filter .4s;
}

section {
  padding-block: 3rem;
}
